.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.header h1 {
  font-size: 40px;
}

.header p {
  color: #6b7280;
  font-size: 18px;
}